<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
      title= title ? title : "Engine by pug"
    link(rel="stylesheet", href="css/index.css")
  body
    block body
    block script